html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  margin: 3rem auto;
  max-width: 800px;
}

main {
  padding: 0.5rem 0.05rem 0.05rem;
}

img {
  border-style: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
